# Firebase
FIREBASE_PROJECT_ID=mayav3-f9d9b
FIREBASE_PRIVATE_KEY=your-firebase-private-key
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@mayav3-f9d9b.iam.gserviceaccount.com

# Mercado Libre
ML_APP_ID=6541042886481524
ML_SECRET_KEY=0YCTfgEqnDE81vQgpKDdq2i0A9tUrXwr
